{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style rel="stylesheet" type="text/css">
        body {
            padding: 20px 10px;
            color: royalblue;
        }
    </style>
</head>
<body>
<div class="container">
    <h3 class="text-center">Credentials List</h3>
        <a style="margin-bottom: 10px;" class="btn btn-primary pull-right" href="{% url 'projects:project' %}">New Credentials</a>
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>End Point</th>
            <th>Service</th>
            <th>No of Projects</th>
            <th>Action </th>
        </tr>
    {% if object_list %}
        {% for credential in object_list %}
            <tr>
                <td>{{ credential.username }}</td>
                <td>{{ credential.end_point }}</td>
                <td>{{ credential.service }}</td>
                <td>{{ credential.project_credential.all|length }}</td>
                <td><a href={% url 'projects:delete_credentials' credential.id %} class="btn btn-danger">Delete</td>
            </tr>
        {% endfor %}
        {% else %}
        <tr>
        <td colspan="3">No Record Found!</td>
        </tr>
    {% endif %}
    </table>
</div>
</body>
</html>
